.about {
    background: var(--color-brand--1);
}



.aboutdetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    height: 85rem;
    background-color: var(--color-dark--3);
    padding: 2rem 4rem;
   
   

}

@media only screen and (max-width: 1200px) {
    .aboutdetails{
        height: 100rem;
    }

}

@media only screen and (max-width: 1100px) {
    .aboutdetails{
        grid-template-columns: repeat(1, 1fr);
        height: 150rem;
    }

}

@media only screen and (max-width: 900px) {
    .aboutdetails{
        grid-template-columns: repeat(1, 1fr);
        height: 150rem;
    }

}

@media only screen and (max-width: 600px) {
    .aboutdetails{
        grid-template-columns: repeat(1, 1fr);
        height: 150rem;
    }

}

@media only screen and (max-width: 500px) {
    .aboutdetails{
        grid-template-columns: repeat(1, 1fr);
        height: 150rem;
    }

}

@media only screen and (max-width: 400px) {
    .aboutdetails{
        grid-template-columns: repeat(1, 1fr);
        height: 150rem;
    }

}

.aboutdetailstext h1 {
    font-size: 4rem;
    font-family: var(--font-diplay);
    margin-bottom: 2rem;
    margin-top: 4rem;
    line-height: 4.2rem;
    color: var(--color-brand--2);
}



.aboutdetailstext p {
    font-size: var(--primary-font);
    margin-top: .6rem;
    color: #fff;
    margin-top: 2rem;
}

.aboutdetails img {
    width: 100%;
    height: 100vh;
    border-radius: 2rem;
    margin-top: 4rem;
    box-shadow: 2rem 2rem 5rem var(--color-dark--3), 06;
    filter: brightness(50%);

}



@media only screen and (max-width: 1200px) {
    .aboutdetails img{
        height: 120vh;
        
    }

}

@media only screen and (max-width: 900px) {
    .aboutdetails img{
        height: auto;
        
    }

}

@media only screen and (max-width: 600px) {
    .aboutdetails img{
        height: auto;
        
    }

}

@media only screen and (max-width: 500px) {
    .aboutdetails img{
        height: auto;
    }

}

@media only screen and (max-width: 400px) {
    .aboutdetails img{

        height: auto;
       
    }

}



.aboutcard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 40px;
    text-align: center;
    
  }


  @media only screen and (max-width: 600px) {
    .aboutcard{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 600px) {
    .aboutcard{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 500px) {
    .aboutcard{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 400px) {
    .aboutcard{
        grid-template-columns: repeat(1, 1fr);
        height: 150rem;
        
    }

}
  
  .card {
    display: grid;
    row-gap: 3rem;
    background: var(--color-brand--1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    border: .1rem solid var(--color-brand--2);
  }
  
  .icon svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    stroke: var(--color-brand--2); 
  }
  
  .aboutcard h3 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--color-brand--2);
    font-family: var(--font-diplay);
  }
  
  .aboutcard p {
    color: #fff;
    font-size: var(--secondary-font);
    font-family: var(--font-diplay);
  }


  

  .aboutcta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 15rem;
    background: var(--color-brand--2);
   
  }


  @media only screen and (max-width: 900px) {
    .aboutcta {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 3rem;
        
    }

}

@media only screen and (max-width: 600px) {
    .aboutcta {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
       
       
    }

}

@media only screen and (max-width: 500px) {
    .aboutcta {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
       
      
    }

}

@media only screen and (max-width: 400px) {
    .aboutcta {
       
       grid-template-columns: repeat(1, 1fr);
       gap: 2.5rem;
       
    }

}

  .aboutcta p {
    font-size: 2.5rem;
     
  }

  .aboutcta button {
    font-size: 2.5rem;
      background-color: var(--color-light--2);
      border-radius: 2.5rem;
      border: none;
      padding: 1.9rem  10rem;
      cursor: pointer;
      transition: all 0.3s;
  }

  .aboutcta button:hover {
       background-color: var(--color-brand--1);
       color: var(--color-light--3);
       transform: translateY(-5px)
       
       
  }

 


  