.creativedesignTraining {
    position: relative;
    
  
    
  
  }
  
  .cdHeader {
      height: 15rem;
      background-color: var(--color-dark--1);
  }
  
  @media only screen and (max-width : 600px) {
    .cdHeader {
      height: 20rem;
    }
  }
  
  @media only screen and (max-width : 500px) {
    .cdHeader {
      height: 20rem;
    }
  }
  
  @media only screen and (max-width : 400px) {
          .cdHeader {
            height: 20rem;
          }
  }
  
  
  .cdHeader h1{
      background-image: linear-gradient(  
          var(--color-dark--1), 
          var(--color-brand--2)  100%) 
          ;
      
          background-clip: text;
          -webkit-text-fill-color: transparent;
  
          font-size: var(--heading-primary-font);
          font-family: var(--font-display);
        
  }
  
  @media only screen and (max-width : 600px) {
    .cdHeader h1 {
      font-size: var(--heading-secondary-font);
      text-align: center;
    }
  }
  
  @media only screen and (max-width : 500px) {
    .cdHeader h1 {
      font-size: var(--heading-secondary-font);
      text-align: center;
    }
  }
  
  @media only screen and (max-width : 400px) {
    .cdHeader h1 {
      font-size: var(--heading-secondary-font);
      text-align: center;
    }
  }
  
  
  .cdForm {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 0 3rem;
      height: 110rem;
      z-index: 10;
      position: relative;
      top: -6rem;
     
  
  }
  
  @media only screen and (max-width : 1200px) {
    .cdForm {
       height: 117rem;
    }
  }
  
  
  @media only screen and (max-width : 1100px) {
    .cdForm {
       height: 130rem;
    }
  }
  
  
  
  @media only screen and (max-width : 900px) {
    .cdForm {
       height: 200rem;
    }
  }
  
  
  
  @media only screen and (max-width : 600px) {
    .cdForm {
       height: 210rem;
       display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  }
  
  @media only screen and (max-width : 500px) {
    .cdForm {
       height: 330rem;
       display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  }
  
  @media only screen and (max-width : 400px) {
    .cdForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      padding: 0 1.5rem;
       height: 310rem;
      
     
    }
  }

  @media only screen and (max-width : 300px) {
    .cdForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 .5rem;
      gap: 3rem;
      /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
       height: 350rem;
      
     
    }
  }
  
  
  .cdBackground {
      background-image: 
        linear-gradient(rgba(138, 184, 0.9)  , rgba(58, 0, 184, 0.7) ), 
        url("web-training3.jpg"); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
      padding: 1rem 2rem;
      border-radius: 2rem;
      height: 110rem;
  
  
    }
  
    @media only screen and (max-width : 1200px) {
      .cdBackground {
         height: 120rem;
      }
    }
  
    @media only screen and (max-width : 1100px) {
      .cdBackground {
         height: 130rem;
      }
    }
    
  
    @media only screen and (max-width : 900px) {
      .cdBackground {
         height: 200rem;
      }
    }


    @media only screen and (max-width : 600px) {
      .cdBackground {
         height: 120rem;
      }
    }


    @media only screen and (max-width : 500px) {
      .cdBackground {
         height: 190rem;
      }
    }


    @media only screen and (max-width : 400px) {
      .cdBackground {
         height: 180rem;
      }
    }

    @media only screen and (max-width : 300px) {
      .cdBackground {
         height: 200rem;
      }
    }
    
     
  
    
  
     .cdBackground h2 {
         display: flex;
         align-items: center;
         justify-items: center;
         font-size: var(--heading-secondary-font);
         font-weight: 700;
         text-transform: uppercase;
         font-family: var(--font-display);
         color: var(--color-brand--1);
         position: relative;
         width: 100%;
         text-align: center;
        
        
    }

    @media only screen and (max-width : 400px) {
      .cdBackground h2 {
        display: flex;
        align-items: center;
        justify-items: center;
        font-size: var(--heading-tertiary-font);
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--font-display);
        color: var(--color-brand--1);
        position: relative;
        width: 100%;
        text-align: center;
      }
    }
  
  
    .cdBackground h2::before,
    .cdBackground h2::after {
     content: "";
     height: 2px;
     background-color: var(--color-brand--1);
     flex: 1;
     margin: 0 1.5rem;
  
    } 
  
  
    .cdBackground h3 {
      display: flex;
      align-items: center;
      justify-items: center;
      font-size: var(--heading-tertiary-font);
      font-family: var(--font-display);
      color: var(--color-light--3);
      text-transform: uppercase;
       text-align: center;
       margin-top: 2rem;
       width: 100%;
    }
  
    .cdBackground h3::before,
    .cdBackground h3::after {
      content: "";
     height: .2rem;
     background-color: var(--color-light--3);
    
     flex: 1;
  
    }
  
   
  
   
  
  
    .cdBackground p {
      font-size: var(--primary-font);
      color: var(--color-light--3);
      margin-top: 3rem;
  
    }
    
    