.eCommerce {
    background: var(--color-brand--1) ;
     
 }


 .ecHeader  {
    padding: 2rem 4rem;
    display: flex;
     gap: 6rem;
 }

 @media only screen and (max-width: 400px) {
  .ecHeader{
    flex-direction: column;
    
}

 }

 .ecHeader svg {
    width: 30rem;
    height: 30rem;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin:round ;
    fill: var(--color-brand--2);
 }

 .ecHeader h1 {
    font-size: 8rem;
    font-family: var(--font-display);
    line-height: 1.2;
    color: var(--color-light--1);
}

@media only screen and (max-width: 400px) {
  .ecHeader h1{
    font-size: 6rem;
    
}

 }

.ecHeader span {
    background-image: linear-gradient(  
    var( --color-dark--1), 
    var(--color-brand--2)  100%) 
    ;

    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ecMain {
    display: flex;
    padding: 2rem 6rem;
    justify-content: center;
    align-items: center;

}


.ecMain img {
    width: 100%;
    border-radius: 3rem;
    filter: brightness(70%);
    
}



.ecServices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  background-color: var(--color-brand--2);
}

.ecService {
  background: var(--color-brand--1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.ecService:hover {
  transform: translateY(-5px);
}

.icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.ecServiceicon svg {
  color: var(--color-brand--2);
}

.ecService h2 {
  font-size: 22px;
  color: var(--color-light--3);
  margin-bottom: 10px;
}

.ecService p {
  font-size: var(--primary-font);
  color: var(--color-light--3);
  line-height: 1.5;
}






 