
   .container {
    max-width: 100%;
    margin: auto;
    padding: 5rem;
    text-align: center;
    font-family: var(--font-display);
  }

  
  
  .title {
    font-size: var(--heading-secondary-font);
    color: var(--color-brand--2);
    margin-bottom: 20px;
  }
  
  .challenges {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .challengeCard {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: var(--color-brand--1);
  }
  
  .challengeCard h3 {
    color: var(--color-brand--2);
    margin-bottom: 10px;
  }
  
  .challengeCard p {
    margin: 5px 0;
  }
  
  .result {
    margin-top: 30px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    
  }
  
  .result h2 {
    color: var(--color-brand--2);
  }
  
  .result ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    text-align: center;
    padding: 0;
    /* margin-left: 10rem; */
  }
  
  .result ul li {

    font-size: var(--primary-font);
    padding: 10px;
    color: var(--color-brand--1);
  }
  

  .projectInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    padding: 1rem 2rem;
    margin-bottom: 4rem;

  }

  @media only screen and (max-width: 600px) {
    .container {
      padding: 2rem;
    }
    .projectInfo {
      flex-direction: column;
    }
  }

  .projectInfo h1 {
    font-size: var(--heading-tertiary-font);
    font-weight: 800;
    font-family: var(--font-display);
    color: var(--color-brand--2);
  }

  .projectInfo h2 {
    font-size: var(--heading-tertiary-font);
    font-weight: 800;
    font-family: var(--font-display);
    color: var(--color-brand--2);

  }

  .projectInfo p {
    font-size: var(--primary-font);
    color: var(--color-brand--1);
  }

  .container img {
    width: 50%;
  }

  .planetBtn {
    padding: 2rem 4rem;
    border-radius: 2rem;
     margin-bottom: 4rem;
  }

