.contactusBtn {
     
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 7rem;
    display: inline-block;
    border-radius: 3rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    margin-top: 3rem;
    border: none;
    cursor: pointer;


    backface-visibility: hidden;

   

}


@media only screen and (max-width: 600px) {
    .contactusBtn {
        padding: 1.5rem 3rem;
    }
}

.contactusBtn:hover {
transform: translateY(-1rem);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2) ;

}

.contactusBtn:link {
text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;

    backface-visibility: hidden;
}


.contactusBtn:visited {
text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;

    backface-visibility: hidden;
}


.contactusBtn:active {
transform:translateY(-1);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.contactusBtn{




background-color: var(--color-light--2);
color: var(--color-brand--2);




}

.contactusBtn::after{
content: "";
display:inline-block;
height: 100%;
width: 100%;
border-radius: 10rem;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}



.contactusBtn::after {
background-color: var(--color-light--2);
}






.contactusBtn:hover::after {
transform: scaleX(1.4) scaleY(1.6); 
opacity: 0;
}

.btn--animated {

animation: moveInBottom .5s ease-out .75 2s;
animation-fill-mode: backwards;


}

