.btnwhite  {
     
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 10rem;
    display: inline-block;
    border-radius: 3rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    margin-top: 3rem;
    border: none;
    cursor: pointer;


    backface-visibility: hidden;

   












}

.btnwhite:hover {
transform: translateY(-1rem);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2) ;

}

.btnwhite :link {
text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;

    backface-visibility: hidden;
}


.btnwhite :visited {
text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;

    backface-visibility: hidden;
}


.btnwhite:active {
transform:translateY(-1);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btnwhite {




background-color: var(--color-light--2);
color: var(--color-brand--2);




}

.btnwhite::after{
content: "";
display:inline-block;
height: 100%;
width: 100%;
border-radius: 10rem;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}



.btnwhite::after {
background-color: var(--color-light--2);
}






.btnwhite:hover::after {
transform: scaleX(1.4) scaleY(1.6); 
opacity: 0;
}

.btn--animated {

animation: moveInBottom .5s ease-out .75 2s;
animation-fill-mode: backwards;


}




.btn-text {
&:link,
&:visited {
   
    color: var(--color-brand--1);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--color-brand--1);
    padding: 3px;
    transition: all .2s;
    font-size: 1.7rem;
}

&:hover {
    background-color: var(--color-brand--2);
    color: var(--color-light--2);
    box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark--0), .15);
        transform: translateY(-2px);
    }

}

    &:active {
        box-shadow: 0 .5rem 1rem rgba(var(--grey-dark--0), .15);
        transform: translateY(0);
    }



   


  
