.designPackages {
   
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit,  minmax(20rem, 1fr));
    align-content: center;
    
    justify-items: center;

    margin-top: 5rem;
   
}

@media only screen and (max-width : 1200px) {
    .designPackages {
        grid-template-columns: repeat(auto-fit,  minmax(20rem, 1fr));
      
    }
}


@media only screen and (max-width : 1200px) {
    .designPackages {
        grid-template-columns: repeat(auto-fit,  minmax(15rem, 1fr));
      
    }
}

@media only screen and (max-width : 900px) {
    .designPackages {
        grid-template-columns: repeat(auto-fit,  minmax(30rem, 1fr));
      
    }
}

@media only screen and (max-width : 600px) {
    .designPackages {
        grid-template-columns: repeat(auto-fit,  minmax(20rem, 1fr));
      
    }
}


@media only screen and (max-width : 500px) {
    .designPackages {
        grid-template-columns: repeat(auto-fit,  minmax(20rem, 1fr));
      
    }
}


@media only screen and (max-width : 400px) {
    .designPackages {
        grid-template-columns: repeat(auto-fit,  minmax(25rem, 1fr));
      
    }
}






.designPackage {
    display: grid;
    
    justify-items: center;
   
    
}


.dpIcon svg {
    width: 8rem;
    height: 8rem;
    border: .1rem solid var(--color-light--3);
    border-radius: 50%;
    padding: 2rem;
    
  
}