.headersocialicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 1.8rem;
    right: 11rem;
   
 
   
   }

   @media only screen and (max-width: 768px) {
    .headersocialicons {
        display: none;
        
       
     
       
       }
   }
 
 
  
 
 
 .socialiconsvg {
   width: 3rem;
   height: 3rem;
   fill: var(--color-brand--2); 
   border: solid .2rem var(--color-brand--2);
   border-radius: 50%;
   padding: .5rem;
   transition: all .3s;
 
 
 }


 .socialiconsvg :link,
 .socialiconsvg :visited{
  fill: var(--color-brand--2); 
      
 }

.socialiconsvg:hover {
  fill: var(--color-primary-black);
  width: 4rem;
  height: 4rem;
  border: solid .2rem var(--color-primary-black);
}
 
 
   
   .headercontacts {
     display: flex;
   
     align-items: center;
     gap: 2rem;

     position: absolute;
      top: 1.8rem;
      left: 30rem;   
    
    }


    @media only screen and (max-width: 900px) {
      .headercontacts {
        position: absolute;
        left: 15rem;
          
         
        
          
         }
     }
 
    @media only screen and (max-width: 768px) {
     .headercontacts {
         display: none;
         
        
       
         
        }
    }


    .contactsvg {
      width: 2rem;
      height: 2rem;
      fill: var(--color-brand--2); 
      border: solid .2rem var(--color-brand--2); 
      border-radius: 50%;
      padding: .5rem;
      transition: all .3s;
    
     
    }

    @media only screen and (max-width: 900px) {
      .contactsvg {
        width: 2rem;
        height: 2rem;
        fill: var(--color-brand--2); 
        border: solid .2rem var(--color-brand--2); 
        border-radius: 50%;
        padding: .5rem;
        transition: all .3s;
      }

    }

    .contactsvg:hover {
      fill: var(--color-primary-black);
      width: 4rem;
      height: 4rem;
      border: solid .2rem var(--color-primary-black);
    }


    .phone {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }


   


    .phone span {
      text-decoration: none;
      font-size: 1.2rem;
      color: var(--color-light--2);
    }



    
 
 
 
 
 

 
