.header {
    grid-column: full-start / full-end;
    display: flex;
    justify-content: space-between;
    height:15rem ;
    width: 100%;
    background-color: var(--color-brand--1);
    z-index: 10;
    /* position: relative; */
}