.hero {
    height: calc(100vh - 5rem);

    background-image: linear-gradient(
        rgba(36, 42, 46, 0.8),
        rgba(36, 42, 46, 0.8)),
     
        url("../designer-small.jpg");
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;



}

@media only screen and (max-width: 600px) {
  .hero {
    height: calc(145vh - 5rem);
   
  
  }
}
 


@media only screen and (max-width: 25em) {
  .hero {
    height: calc(135vh - 5rem);
   
  
  }
}
 


  .hero section {
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 5rem;

    line-height: 1.3;
    font-weight: 800;
    font-family: --var(font-display);
    margin-bottom: 2rem;
 
  }

  @media only screen and (max-width: 25em) {
    .hero h1 {
     
      margin-top: 8rem;

    
    
    }
  }

  .hero hr {
    width: 50%;
    height: 0.25rem;
    background-color: var(--color-light--2);
    border: none;
    margin-bottom: 3rem;
    margin: auto;

    
  }
  

 
  .hero h2 {
    width: 90%;
    font-size: 3.5rem;
    color: var(--color-brand--2);
    margin-bottom: 2.5rem;
    margin: auto;
  }



  .hero span {
    background-image: linear-gradient(
      to right,
      var(--color-brand--2, 0.8),
      var(--color-brand--3, 0.3 10%) 
    );

    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    
       