.marqueeContainer {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background-color:var(--color-brand--1);
    padding: 10px 0;

  }
  
  .marqueeContent {
    display: flex;
    gap: 50px; 
    min-width: 100%;
    font-size: 10rem;
    font-family: var(--font-display);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    animation: scrollRight 40s linear infinite;

    
   
  }

  @media only screen and ( max-width: 400px) {
    .marqueeContent {
        font-size: 5rem;
        min-width: 500%;
        animation: scrollRight 40s linear infinite;
    }
  }

  .marqueeContent span {
    background-image: linear-gradient(
      
      var(--color-brand--2, 0.2),
      var(--color-light--3, 8.0)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  
  @keyframes scrollRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  