.menuContainer {
    position: relative;
  }


  .toggleButton {
    position: fixed;
    top: 9px;
    right: 16px;
    margin-top: 7rem;
    margin-right: 3rem;
    z-index: 10000; 
    background: none;
    padding: .7rem;
    cursor: pointer;

  }
  
  


  
  .icon {
    width: 30px;
    height: 30px;
   
  }
  
  .menuDropdown {
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 200px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .menuList {
    list-style: none;
    padding: 12px;
    margin: 0;
  }
  
 




  .menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000; 
  }

   
  
  .menuList {
    list-style: none;
    text-align: center;
    background: transparent;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  
  .menuItem {
    display: block;
    padding: 15px;
    font-size: 1.5rem;
    color: var(--color-brand--2);
    text-decoration: none;
  }
  
  .menuItem:hover {
    background: lightgray;
  } 



  .closeIcon {
    stroke: white;
    z-index: 1000;
  }

  .menuIcon {
    stroke: var(--color-brand--2);
  }
  


  @media only screen and (min-width: 768px) {
    .mobileOnly {
      display: none !important;
    }
  }

  
  @media only screen and (min-width: 768px) {
    .toggleButton {
      display: none !important;
    }
  }
  

  .menuItem:hover {
    color: var(--color-brand--1);
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
  }

  .dropdown button {
    background-color:transparent ;
    margin-left: 16rem;
  }
  
  .dropdownMenu {
  
    list-style: none;
    padding: 0;
    margin-top: 10px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .dropdownItem {
    font-size: .5rem;
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
  
    color: var(--color-light--2);
    font-size: 12px;
    transition: background 0.3s ease;
  }
  
  .dropdownItem:hover {
    background: #f1f1f1;
  }
  
  .dropdownItem .icon {
    margin-right: 10px;
    color: var(--color-brand--2);
    font-size: 1rem;
  }