.menuContainer {
    position: relative;
  }


  .toggleButton {
    position: fixed;
    top: 16px;
    right: 16px;
    margin-top: 7rem;
    margin-right: 3rem;
    z-index: 1001; /* Higher than the menu overlay */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* .toggleButton {
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 7rem;
    margin-right: 3rem;
  } */


  
  .icon {
    width: 24px;
    height: 24px;
   
  }
  
  .menuDropdown {
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 200px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .menuList {
    list-style: none;
    padding: 12px;
    margin: 0;
  }
  
  .menuItem {
    display: block;
    padding: 10px;
    color: var(--color-brand--2);
    text-decoration: none;
  }
  
  .menuItem:hover {
    background: lightgray;
  }





  .menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000; /* Lower than the toggle button */
  }

   /* .menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  } */
  
  .menuList {
    list-style: none;
    text-align: center;
    background: transparent;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  
  .menuItem {
    display: block;
    padding: 15px;
    font-size: 1.5rem;
    color: var(--color-brand--2);
    text-decoration: none;
  }
  
  .menuItem:hover {
    background: lightgray;
  } 



  .closeIcon {
    stroke: white;
    z-index: 1000;
  }

  .menuIcon {
    stroke: var(--color-brand--2);
  }
  


  @media only screen and (min-width: 768px) {
    .mobileOnly {
      display: none !important;
    }
  }

  
  @media only screen and (min-width: 768px) {
    .toggleButton {
      display: none !important;
    }
  }
  