.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
    margin-top: 5rem;
   

}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}


.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}


@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
