.scrollUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--color-brand--2);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  @media only screen and (max-width: 400px) {
    .scrollUp {
      /* display: none; */
      width: 30px;
      height: 30px;
      margin-right: 4rem;

    }
  }
  
  .scrollUp.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .scrollUp:hover {
    background: #0056b3;
  }
  
  .icon {
    font-size: 24px;
  }
  