/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";



/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1:  #11009E;
  --color-brand--2: #8AB800 ;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

:root {
  --bp-largest: 75em;  /* 1200px/16 = 75em */
  --bp-large: 68.75em; /* 1100px/16 */
  --bp-medium: 56.25em; /* 900px/16 */
  --bp-small: 37.05em; /* 600px/16 */
  --bp-smaller: 31.25em; /* 500px/16 */
  --bp-smallest: 25em; /* 400px/16 */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-size: 10px;
  box-sizing: border-box;


}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}