body {
--primary-font: 1.9rem;
font-size: var(--primary-font);

--secondary-font: 1.7rem;
font-size: var(--secondary-font);

--tertiary-font: 1.4rem;
font-size: var(--tertiary-font);



--heading-primary-font: 5.5rem;
font-size: var(--heading-primary-font);

--heading-secondary-font: 3.5rem;
font-size: var(--Heading-secondary-font);

--heading-tertiary-font: 2.5rem;
font-size: var(--heading-tertiary-font);


}



@media only screen and (max-width: 400px) {
    .smhd{
       visibility: hidden;
        
    }
  
  }
 